<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
    <div class="col-m-4 d-flex align-items-center px-5 font-size-13">
        <span class="mb-3 mb-md-0 text-muted me-3">
            © 2023 Bootstrap-Nice-Select
        </span>
        <span class="mb-3 mb-md-0 text-muted ms-3">
            Bootstrap-Nice-Select Website is a fork of <a
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                href="https://getbootstrap.com/">Bootstrap</a>. This fork is developed and maintained by
            <a href="https://github.com/kevingostomski"
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">@kevingostomski</a>
            </br>
            Currently v1.0.1, Code licensed <a
                href="https://github.com/kevingostomski/bootstrap-nice-select/blob/main/LICENSE"
                class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">MIT</a>
        </span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex font-size-13">
        <li class="ms-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                href="https://github.com/kevingostomski/bootstrap-nice-select">Github
        </li>
        <li class="ms-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                href="mailto:{{ site.email }}">E-Mail</li>
    </ul>
</footer>