<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Webpage and Documentation for Bootstrap-Nice-Select Component">
  <meta name="keywords" content="HTML, CSS, JavaScript, Select, Bootstrap, Form, Replacement, Dropdown">
  <meta name="google-site-verification" content="5pfzHWh5e6Qy9vVGkEfgMXQ8EphYuzhcoJGuuGjpquY" />
  <meta name="author" content="Kevin Gostomski">
  <title>Bootstrap-Nice-Select</title>
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>

<body>
  <header>
    {% include nav.html %}
  </header>
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>