---
layout: "default"
nav: "Documentation"
---
<div class="row m-4">
    <div class="col col-lg-2 font-size-13 border-bottom border-end mb-3">
        <nav class="navbar navbar-expand-lg justify-content-end px-2 sticky-scroll">
            <button class="navbar-toggler m-4" type="button" data-bs-toggle="collapse" data-bs-target="#pages"
                aria-controls="pages" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="pages">
                <div class="navbar-nav flex-column w-100">
                    <p class="text-white d-flex justify-content-start align-items-center border-bottom pb-2"><i
                            class="fa-solid fa-book pe-3 text-warning"></i>API</p>
                    <a href="{{ site.baseurl }}/documentation/options" class="nav-link p-2">Options</a>
                    <a href="{{ site.baseurl }}/documentation/events" class="nav-link p-2 selected">Events</a>
                    <a href="{{ site.baseurl }}/documentation/methods" class="nav-link p-2">Methods</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-lg-10 col-xxl-8">
        <div data-bs-spy="scroll" data-bs-target="navbar-scrollspy" data-bs-smooth-scroll="true" data-offset="5"
            tabindex="0">
            {{ content }}
        </div>
    </div>
    <div class="d-none d-xxl-block col-xxl-2 font-size-13 font-size-13">
        <div class="sticky-scroll">
            <nav id="navbar-scrollspy" class="border-start">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#inserted">Inserted</a>
                    <a class="nav-link" href="#removed">Removed</a>
                </nav>
            </nav>
        </div>
    </div>
</div>