---
layout: "default"
nav: "Examples"
---
<div class="row m-5">
    <div class="col col-lg-2 font-size-13 border-bottom border-end mb-3">
        <nav class="navbar navbar-expand-lg justify-content-end px-2 sticky-scroll">
            <button class="navbar-toggler m-4" type="button" data-bs-toggle="collapse" data-bs-target="#pages"
                aria-controls="pages" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="pages">
                <div class="d-flex flex-column w-100">
                    <div class="navbar-nav flex-column w-100 mb-5">
                        <p class="text-white d-flex justify-content-start align-items-center border-bottom pb-2"><i
                                class="fa-solid fa-rectangle-list pe-3 text-primary"></i>Initialization</p>
                        <a href="{{ site.baseurl }}/examples/initialization/from-html"
                            class="nav-link p-2 {% if page.selected == 'From-HTML' %}selected{% endif %}">From HTML</a>
                        <a href="{{ site.baseurl }}/examples/initialization/from-javascript"
                            class="nav-link p-2 {% if page.selected == 'From-JavaScript' %}selected{% endif %}">From
                            JavaScript</a>
                    </div>
                    <div class="navbar-nav flex-column w-100">
                        <p class="text-white d-flex justify-content-start align-items-center border-bottom pb-2"><i
                                class="fa-solid fa-filter pe-3 text-info"></i>Options</p>
                        <a href="{{ site.baseurl }}/examples/options/icons"
                            class="nav-link p-2 {% if page.selected == 'Icons' %}selected{% endif %}">Custom Icons</a>
                        <a href="{{ site.baseurl }}/examples/options/locale"
                            class="nav-link p-2 {% if page.selected == 'Locale' %}selected{% endif %}">Locale</a>
                        <a href="{{ site.baseurl }}/examples/options/scrollable"
                            class="nav-link p-2 {% if page.selected == 'Scrollable' %}selected{% endif %}">Scrollable</a>
                        <a href="{{ site.baseurl }}/examples/options/searchData"
                            class="nav-link p-2 {% if page.selected == 'SearchData' %}selected{% endif %}">Search
                            Data</a>
                        <a href="{{ site.baseurl }}/examples/options/tags"
                            class="nav-link p-2 {% if page.selected == 'Tags' %}selected{% endif %}">Tags</a>
                        <a href="{{ site.baseurl }}/examples/options/theme"
                            class="nav-link p-2 {% if page.selected == 'Theme' %}selected{% endif %}">Theme</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="col col-lg-10">
        {{ content }}
    </div>
</div>