/* optgroup text-decoration color */
$otp-group-header-text-decoration-color: #00549f;

/* delete button */
$delete-bg-color: #dc3545;
$delete-color: #fff;

/* add button */
$add-bg-color: #28a745;
$add-color: #fff;

/* overlay blur color */
$overlay-background-color: rgba(0, 0, 0, .7);
$overlay-z-index: 10000;

/* overlay search container */
$search-container-maincolor: rgb(8, 9, 20);
$search-container-fontcolor: #fff;
$search-container-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
$search-container-hr-span-color: rgb(46, 49, 76);
$search-container-li-color: rgb(186, 186, 186);
$search-container-li-hover-color: rgb(48, 52, 79);
$search-container-li-focus-color: rgb(63, 68, 112);