---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import "custom";
@import "bootstrap/bootstrap";
@import "base";
@import "highlighter";