main {
    margin-top: 100px;
}

body {
    font-family: 'Roboto Slab', serif;
}

#heading {
    font-size: 70px;
}

.seperator {
    display: block;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #e4f221, #2303ee);
    height: 5px;
    width: 90%;
    margin: 50px auto;
    border-radius: 10px;
    background-size: 200% 200%;
    animation: animated-gradient 4s infinite alternate;
    box-shadow: 0 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.5);

    @keyframes animated-gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

.font-size-13 {
    font-size: 13px;
}

.sticky-scroll {
    position: sticky;
    position: -webkit-sticky;
    padding: 60px 0px;
    top: 1rem;
}

#navbar-scrollspy {
    a {
        &.nav-link {
            border-radius: 0;

            &.active {
                font-size: 14px;
                color: var(--bs-nav-pills-link-active-color);
                border-left: 1px solid var(--bs-nav-pills-link-active-color);
                background-color: inherit;
            }
        }
    }
}

#pages {
    .nav-link {
        border: 0;
        border-radius: 10px;

        &:hover,
        &:active,
        &:focus {
            border-radius: 10px;
            color: #fff;
            background-color: rgb(44, 48, 53);
        }

        &.selected {
            border-radius: 10px;
            background-color: rgb(103, 48, 233);
            color: #fff;
        }
    }
}

.navbar-header {
    ul {
        &.navbar-nav {
            li {
                &.nav-item {
                    &.selected {
                        a {
                            color: #fff;
                        }

                        border-bottom: 1px solid #fff;
                        background-color: inherit;
                    }
                }
            }
        }
    }
}


@media (max-width: 991px) {

    .navbar-header {
        ul {
            &.navbar-nav {
                overflow-x: auto;
                white-space: nowrap;

                li {
                    &.nav-item {
                        padding: 0 10px;
                    }
                }
            }
        }

    }
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}